*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
}

.main-login{
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #7B2CBF;
  justify-content: center;
  align-items: center;
}

.left-login{
  width: 50vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login-image{
  width: 40vw;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login>h1{
  color: #fff;
  font-weight: bold;
  margin: 0;
}


.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #A16AD9;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.text-field{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0;
}

.text-field>input{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background:#fff ;
  color:rgb(121, 111, 111) ;
}

.text-field>label{
  color: #F2F2F2;
  margin-bottom: 10px;
}

.textfield>input::placeholder{
  color:#A1A1A1;
}

.btn-login{
  width:100%;
  padding: 16px 0;
  margin: 25px;
  border:none;
  border-radius:8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  background: #7B2CBF;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 15px 40px -12px #00000056;
}

.btn-login:hover{
  transition: 0.5s;
  background: #561a89;
}